<div class="container-page-center">
  <div class="card">
    <div class="title-login" *ngIf="!mostrarVerificacion && !mostrarRecovery">
      <h1>Inicio de sesión</h1>
      <p>Administración de precios - Los Rueda</p>
    </div>
    <div *ngIf="mostrarVerificacion">
      <h4>Hemos enviado un código de verificación a tu correo</h4>
    </div>
    <div class="alert-base alert-error" role="alert" *ngIf="showAlert">
      <span class="material-symbols-outlined">
        gpp_maybe
      </span>
      {{errorMsg}}
    </div>
    <form  [formGroup]="loginForm" (ngSubmit)="login()">
      <div *ngIf="!mostrarVerificacion && !mostrarRecovery">
        <div class="campo">
          <label for="">Correo electrónico <span class="required">*</span></label>
            <input
              type="text"
              [class.is-invalid]="isEmailFieldInvalid"
              id="email"
              formControlName="email">
              <div class="messages" [class.active]="isEmailFieldInvalid">
                <small
                    class="mensaje-error"
                    *ngIf="emailField?.hasError('required') && emailField?.touched">
                      * El correo electrónico es requerido
                </small>
                <small
                    class="mensaje-error"
                    *ngIf="emailField?.hasError('email')">
                      * Este no es un correo valido, ejemplo: "{{EMAIL_EXAMPLE}}"
                </small>
            </div>
        </div>
        <div class="campo">
          <label for="">Contraseña <span class="required">*</span></label>
            <input
              type="password"
              [class.is-invalid]="isPasswordFieldInvalid"
              id="password"
              formControlName="password">
              <div class="messages" [class.active]="isPasswordFieldInvalid">
                <small
                    class="mensaje-error"
                    *ngIf="isPasswordFieldInvalid">
                      * La contraseña es requerida
                </small>
            </div>
        </div>
      </div>
      <div class="campo" *ngIf="mostrarVerificacion">
        <label for="">Ingrese el código de verificación</label>
          <input
            type="text"
            id="verifiCode"
            formControlName="verifiCode">
      </div>
      <div class="campo" *ngIf="mostrarRecovery">
        <label for="">Ingrese el correo registrado</label>
          <input
            type="text"
            id="resetPassword"
            formControlName="resetPassword">
      </div>
      <div class="form-recovery" *ngIf="mostrarRecoveryPass">
        <div class="campo">
          <label for="">Ingrese el código de verificación</label>
            <input
              type="text"
              id="codigoResetPass"
              formControlName="codigoResetPass">
        </div>
        <div class="campo">
          <label for="">Nueva contraseña</label>
            <input
              type="text"
              id="newPass"
              formControlName="newPass">
        </div>
      </div>
      <div class="actions" *ngIf="!mostrarVerificacion && !mostrarRecovery">
        <button class="btn-base btn-primary">Iniciar sesión</button>
        <a routerLink="/register">¿Eres nuevo? Registrate aquí</a>
        <br>
        <a (click)="mostrarRecueprar()">Recuperar contraseña</a>
      </div>
    </form>
    <div *ngIf="mostrarVerificacion">
      <div class="actions">
        <button class="btn-base btn-primary" (click)="confirmarRegistro()">Verificar</button>
        <span>¿No te llego el codigo? <a (click)="reenviarCodigo()">Reenviar codigo</a></span>
      </div>
    </div>
    <div *ngIf="mostrarRecovery && !mostrarRecoveryPass">
      <div class="actions">
        <button class="btn-base btn-primary" (click)="codigoRecuperarContrasena()">Recuperar contraseña</button>
      </div>
    </div>
    <div *ngIf="mostrarRecoveryPass">
      <div class="actions">
        <button class="btn-base btn-primary" (click)="confirmacionRecuperarContrasena()">Cambiar contraseña</button>
      </div>
    </div>
  </div>
</div>
