<div class="container container-page-center">
  <h1>Editando precio</h1>
  <form (ngSubmit)="updateProduct()" [formGroup]="formulario">
    <div class="campo">
      <label for="">Nombre producto</label>
        <input
          type="text"
          id="name"
          formControlName="nombreProducto">
    </div>
    <div class="campo">
      <label for="">Precio</label>
        <input
          type="number"
          id="price"
          formControlName="precio">
    </div>
    <div class="campo">
      <label for="">Description</label>
        <input
          type="text"
          id="description"
          formControlName="descripcion">
    </div>
    <div class="actions">
      <button
        type="submit"
        class="btn-base btn-primary">
        <span class="material-symbols-outlined">
          update
        </span>
        Actualizar producto
      </button>
      <div class="display-group-buttons">
        <a [routerLink]="['/precios']">Volver al listado de precios</a>
        <a (click)="deleteProduct()" class="btn-eliminar">Eliminar producto</a>
      </div>
    </div>
  </form>
</div>
